edu-imi-data/src/main/resources/xsd/sabtahval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://est" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://est">
    <xsd:complexType name="getImageSmartResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:ImageResult" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getImage6Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:Image6Result" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult7CB">
        <xsd:sequence>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="deathStatus" type="xsd:int"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="officeName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="deathDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="zipcode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="zipcode_Desc" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="address_Desc" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="specialFeild" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="birthplace" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameIssueDate" type="xsd:int"/>
            <xsd:element name="shenasnameIssuePlace" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="cardExpireDate" type="xsd:int"/>
            <xsd:element name="cardSeri" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cardSrno" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelamResult4">
        <xsd:complexContent>
            <xsd:extension base="ns0:EstelamResult3">
                <xsd:sequence>
                    <xsd:element name="zipcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="zipcode_Desc" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3T">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:Estelam3TRequest" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam16Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelam16Result" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getImageSmart">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:long"/>
            <xsd:element name="arg5" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TrackingInfo">
        <xsd:sequence>
            <xsd:element name="requestTime" type="xsd:string" minOccurs="0"/>
            <xsd:element name="responseTime" type="xsd:string" minOccurs="0"/>
            <xsd:element name="conversationId" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="signature" type="xsd:base64Binary" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam2SC">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getImage4Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:ImageResult" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelamResult3T">
        <xsd:sequence>
            <xsd:element name="estelam3TPersonInfoResult" type="ns0:estelam3TPersonInfoResult" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
            <xsd:element name="serviceStatus" type="ns0:serviceStatus" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="actionMessages"/>
    <xsd:complexType name="senderResponseInfo">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="responseDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="xmlResponse" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam3TPersonInfoResult">
        <xsd:sequence>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="deathStatus" type="xsd:int"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="officeName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="bookNo" type="xsd:int"/>
            <xsd:element name="bookRow" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="deathDate" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam14Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult14" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelamResult7">
        <xsd:sequence>
            <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="result" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelamRI">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="senderInfo_3F">
        <xsd:sequence>
            <xsd:element name="conversationId" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="senderName" type="xsd:base64Binary" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="serviceStatus">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam2SCResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult3" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3C">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:long"/>
            <xsd:element name="arg5" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ImageResult_3F">
        <xsd:sequence>
            <xsd:element name="image" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="type" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam7CResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelamResult7C" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam17Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult17" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="messages">
        <xsd:complexContent>
            <xsd:extension base="ns0:actionMessages">
                <xsd:sequence/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="getEstelam18Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:Estelam18Result" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelamResult6C">
        <xsd:sequence>
            <xsd:element name="estelamResult6" type="ns0:EstelamResult6" minOccurs="0"/>
            <xsd:element name="imageResult" type="ns0:ImageResult_3F" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getVersion"/>
    <xsd:complexType name="getEstelam6CResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelamResult6C" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3SC">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3TResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelamResult3T" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="bookNo" type="xsd:int"/>
            <xsd:element name="bookRow" type="xsd:int"/>
            <xsd:element name="deathStatus" type="xsd:int"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="officeName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam6C">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo_3F" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam17Request">
        <xsd:sequence>
            <xsd:element name="cardSeriSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserIp" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getImage4">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:long"/>
            <xsd:element name="arg5" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam12Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserIp" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getImage2">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam18Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cellPhone" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam20Result">
        <xsd:sequence>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
            <xsd:element name="serviceStatus" type="ns0:serviceStatus" minOccurs="0"/>
            <xsd:element name="result" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3SCResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResultC" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam5Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult5" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonInfo_3F">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="cardSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dateHasPostfix" type="xsd:int"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="familyHasPerfix" type="xsd:int"/>
            <xsd:element name="familyHasPostfix" type="xsd:int"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="nameHasPerfix" type="xsd:int"/>
            <xsd:element name="nameHasPostfix" type="xsd:int"/>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="officeName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getImage6">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:Image6Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ImageResult">
        <xsd:sequence>
            <xsd:element name="image" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam8RI">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Estelam18Result">
        <xsd:sequence>
            <xsd:element name="estelamTrackingCode" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="serviceStatus" type="ns0:serviceStatus" minOccurs="0"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Image6Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cardSeriSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:string" minOccurs="0"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:string" minOccurs="0"/>
            <xsd:element name="officeCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="shenasnameIssueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSerial" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResultC">
        <xsd:sequence>
            <xsd:element name="estelamResult3" type="ns0:EstelamResult3" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="imageResult" type="ns0:ImageResult" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelamRIResponse">
        <xsd:sequence>
            <xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="request" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="request_date" type="xsd:string" minOccurs="0"/>
            <xsd:element name="response_date" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serviceName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" minOccurs="0"/>
            <xsd:element name="userName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="xml_respons" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam11Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="nin" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Estelam10PersonInfo">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="cardSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dateHasPostfix" type="xsd:int"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="familyHasPerfix" type="xsd:int"/>
            <xsd:element name="familyHasPostfix" type="xsd:int"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="nameHasPerfix" type="xsd:int"/>
            <xsd:element name="nameHasPostfix" type="xsd:int"/>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="shenasnameIssueDate" type="xsd:int"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
            <xsd:element name="zipCode" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam12Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult12" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getVersionResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam8C">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo_3F" minOccurs="0"/>
            <xsd:element name="arg5" type="ns0:senderInfo_3F" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam13Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cardSeriSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserIp" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult6">
        <xsd:sequence>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="deathStatus" type="xsd:int"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="officeName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="deathDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="zipcode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="zipcode_Desc" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="address_Desc" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="specialFeild" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="birthplace" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameIssueDate" type="xsd:int"/>
            <xsd:element name="shenasnameIssuePlace" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="cardExpireDate" type="xsd:int"/>
            <xsd:element name="cardSeri" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cardSrno" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam11Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult11" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam15Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult15" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Estelam3TRequest">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="bookNo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="bookRow" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cardSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dateHasPostfix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="familyHasPerfix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="familyHasPostfix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:string" minOccurs="0"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="nameHasPerfix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nameHasPostfix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:string" minOccurs="0"/>
            <xsd:element name="officeCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="shenasnameIssueDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSerial" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam20Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="eventDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:string" minOccurs="0"/>
            <xsd:element name="relationType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam7">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo_3F" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult17">
        <xsd:sequence>
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="address" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="errorMessageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam16Request">
        <xsd:sequence>
            <xsd:element name="childBirthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="childNin" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parentBirthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parentNin" type="xsd:string" minOccurs="0"/>
            <xsd:element name="relationType" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam13Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult13" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam4">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult15">
        <xsd:sequence>
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="address" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="errorMessageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult13">
        <xsd:sequence>
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="address" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="errorMessageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam5">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelamRIResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelamRIResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult14">
        <xsd:sequence>
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="address" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="errorMessageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult11">
        <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult12">
        <xsd:sequence>
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="address" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="errorMessageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam10Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult10" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult10">
        <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getImage2Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:ImageResult" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam7C">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:EstelamRequest" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam14Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserIp" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nin" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult5">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="zipcodeInfo" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamRequest">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="cardSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dateHasPostfix" type="xsd:int"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="familyHasPerfix" type="xsd:int"/>
            <xsd:element name="familyHasPostfix" type="xsd:int"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="nameHasPerfix" type="xsd:int"/>
            <xsd:element name="nameHasPostfix" type="xsd:int"/>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="officeName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameIssueDate" type="xsd:int"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EstelamResult3">
        <xsd:complexContent>
            <xsd:extension base="ns0:EstelamResult">
                <xsd:sequence>
                    <xsd:element name="deathDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="getEstelam3CResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResultC" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam2">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:PersonInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelamResult7C">
        <xsd:sequence>
            <xsd:element name="estelamResult7CB" type="ns0:EstelamResult7CB" minOccurs="0"/>
            <xsd:element name="imageResult" type="ns0:ImageResult_3F" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam19Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelam19Result" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam20Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelam20Result" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Exception3F">
        <xsd:sequence>
            <xsd:element name="empty" type="xsd:boolean"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="messages" type="ns0:messages" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam8CResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelamResult6C" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Image6Result">
        <xsd:sequence>
            <xsd:element name="errorMessageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="image" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam20">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam20Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam15Request">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cardSeriSerial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserIp" type="xsd:string" minOccurs="0"/>
            <xsd:element name="endUserName" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam8RIResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:senderResponseInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam16Result">
        <xsd:sequence>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
            <xsd:element name="serviceStatus" type="ns0:serviceStatus" minOccurs="0"/>
            <xsd:element name="exceptionMessage" type="xsd:string" minOccurs="0"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="result" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam4Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelamResult4" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam7Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:estelamResult7" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam19Result">
        <xsd:sequence>
            <xsd:element name="address" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="messageList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="serviceStatus" type="ns0:serviceStatus" minOccurs="0"/>
            <xsd:element name="trackingInfo" type="ns0:TrackingInfo" minOccurs="0"/>
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam15">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam15Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam14">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam14Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam13">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam13Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam12">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam12Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam11">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam11Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam10">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg5" type="ns0:Estelam10PersonInfo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam19">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam19Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam2Response">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:EstelamResult" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam18">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam18Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonInfo">
        <xsd:sequence>
            <xsd:element name="birthDate" type="xsd:int"/>
            <xsd:element name="bookNo" type="xsd:int"/>
            <xsd:element name="bookRow" type="xsd:int"/>
            <xsd:element name="dateHasPostfix" type="xsd:int"/>
            <xsd:element name="family" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="familyHasPerfix" type="xsd:int"/>
            <xsd:element name="familyHasPostfix" type="xsd:int"/>
            <xsd:element name="fatherName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="gender" type="xsd:int"/>
            <xsd:element name="name" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="nameHasPerfix" type="xsd:int"/>
            <xsd:element name="nameHasPostfix" type="xsd:int"/>
            <xsd:element name="nin" type="xsd:long"/>
            <xsd:element name="officeCode" type="xsd:int"/>
            <xsd:element name="officeName" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameNo" type="xsd:int"/>
            <xsd:element name="shenasnameSeri" type="xsd:base64Binary" minOccurs="0"/>
            <xsd:element name="shenasnameSerial" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam17">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam17Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UnsupportedEncodingException">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getEstelam16">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg3" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arg4" type="ns0:estelam16Request" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="estelam19Request">
        <xsd:sequence>
            <xsd:element name="estelamTrackingCode" type="xsd:base64Binary" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getImageSmartResponse" type="ns0:getImageSmartResponse"/>
    <xsd:element name="estelam11Request" type="ns0:estelam11Request"/>
    <xsd:element name="getImage6Response" type="ns0:getImage6Response"/>
    <xsd:element name="getEstelam12Response" type="ns0:getEstelam12Response"/>
    <xsd:element name="getVersionResponse" type="ns0:getVersionResponse"/>
    <xsd:element name="getEstelam8C" type="ns0:getEstelam8C"/>
    <xsd:element name="getEstelam3T" type="ns0:getEstelam3T"/>
    <xsd:element name="getEstelam16Response" type="ns0:getEstelam16Response"/>
    <xsd:element name="getImageSmart" type="ns0:getImageSmart"/>
    <xsd:element name="getEstelam11Response" type="ns0:getEstelam11Response"/>
    <xsd:element name="getEstelam15Response" type="ns0:getEstelam15Response"/>
    <xsd:element name="getEstelam7" type="ns0:getEstelam7"/>
    <xsd:element name="getEstelam2SC" type="ns0:getEstelam2SC"/>
    <xsd:element name="getImage4Response" type="ns0:getImage4Response"/>
    <xsd:element name="getEstelam13Response" type="ns0:getEstelam13Response"/>
    <xsd:element name="getEstelam4" type="ns0:getEstelam4"/>
    <xsd:element name="getEstelam3" type="ns0:getEstelam3"/>
    <xsd:element name="getEstelamRIResponse" type="ns0:getEstelamRIResponse"/>
    <xsd:element name="getEstelam5" type="ns0:getEstelam5"/>
    <xsd:element name="getEstelam10Response" type="ns0:getEstelam10Response"/>
    <xsd:element name="getImage2Response" type="ns0:getImage2Response"/>
    <xsd:element name="getEstelam7C" type="ns0:getEstelam7C"/>
    <xsd:element name="getEstelam14Response" type="ns0:getEstelam14Response"/>
    <xsd:element name="getEstelamRI" type="ns0:getEstelamRI"/>
    <xsd:element name="getEstelam2SCResponse" type="ns0:getEstelam2SCResponse"/>
    <xsd:element name="getEstelam3CResponse" type="ns0:getEstelam3CResponse"/>
    <xsd:element name="getEstelam3Response" type="ns0:getEstelam3Response"/>
    <xsd:element name="getEstelam3C" type="ns0:getEstelam3C"/>
    <xsd:element name="estelamRequest" type="ns0:EstelamRequest"/>
    <xsd:element name="getEstelam2" type="ns0:getEstelam2"/>
    <xsd:element name="getEstelam7CResponse" type="ns0:getEstelam7CResponse"/>
    <xsd:element name="Estelam3TPersonInfoResult" type="ns0:estelam3TPersonInfoResult"/>
    <xsd:element name="getEstelam19Response" type="ns0:getEstelam19Response"/>
    <xsd:element name="image6Request" type="ns0:Image6Request"/>
    <xsd:element name="getEstelam20Response" type="ns0:getEstelam20Response"/>
    <xsd:element name="Exception3F" type="ns0:Exception3F"/>
    <xsd:element name="getEstelam17Response" type="ns0:getEstelam17Response"/>
    <xsd:element name="EstelamResult3T" type="ns0:estelamResult3T"/>
    <xsd:element name="getEstelam18Response" type="ns0:getEstelam18Response"/>
    <xsd:element name="getEstelam8CResponse" type="ns0:getEstelam8CResponse"/>
    <xsd:element name="getVersion" type="ns0:getVersion"/>
    <xsd:element name="getEstelam20" type="ns0:getEstelam20"/>
    <xsd:element name="getEstelam3SC" type="ns0:getEstelam3SC"/>
    <xsd:element name="getEstelam6CResponse" type="ns0:getEstelam6CResponse"/>
    <xsd:element name="getEstelam3TResponse" type="ns0:getEstelam3TResponse"/>
    <xsd:element name="getEstelam6C" type="ns0:getEstelam6C"/>
    <xsd:element name="getEstelam8RIResponse" type="ns0:getEstelam8RIResponse"/>
    <xsd:element name="getEstelam4Response" type="ns0:getEstelam4Response"/>
    <xsd:element name="getEstelam7Response" type="ns0:getEstelam7Response"/>
    <xsd:element name="getImage4" type="ns0:getImage4"/>
    <xsd:element name="image6Result" type="ns0:Image6Result"/>
    <xsd:element name="getImage2" type="ns0:getImage2"/>
    <xsd:element name="getEstelam15" type="ns0:getEstelam15"/>
    <xsd:element name="getEstelam14" type="ns0:getEstelam14"/>
    <xsd:element name="getEstelam13" type="ns0:getEstelam13"/>
    <xsd:element name="getEstelam3SCResponse" type="ns0:getEstelam3SCResponse"/>
    <xsd:element name="getEstelam5Response" type="ns0:getEstelam5Response"/>
    <xsd:element name="getEstelam12" type="ns0:getEstelam12"/>
    <xsd:element name="getEstelam11" type="ns0:getEstelam11"/>
    <xsd:element name="getEstelam10" type="ns0:getEstelam10"/>
    <xsd:element name="getImage6" type="ns0:getImage6"/>
    <xsd:element name="getEstelam8RI" type="ns0:getEstelam8RI"/>
    <xsd:element name="getEstelam2Response" type="ns0:getEstelam2Response"/>
    <xsd:element name="getEstelam19" type="ns0:getEstelam19"/>
    <xsd:element name="getEstelam18" type="ns0:getEstelam18"/>
    <xsd:element name="getEstelam17" type="ns0:getEstelam17"/>
    <xsd:element name="getEstelam16" type="ns0:getEstelam16"/>
    <xsd:element name="UnsupportedEncodingException" type="ns0:UnsupportedEncodingException"/>
</xsd:schema>