edu-imi-data/src/main/resources/wsdl/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="binding">
        <xs:complexType>
            <xs:attribute name="style" type="xs:string" use="required" />
            <xs:attribute name="transport" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="operation">
        <xs:complexType>
            <xs:attribute name="soapAction" type="xs:string" use="required" />
            <xs:attribute name="style" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="body">
        <xs:complexType>
            <xs:attribute name="use" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="address">
        <xs:complexType>
            <xs:attribute name="location" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>